In [1]:
import pandas as pd
from random import randint

In [3]:
df = pd.DataFrame("Day 17, Capstone Project Vocab Builder/Flasher/data/french_words.csv")
#df = pd.read_csv("data/french_words.csv")

        French    English
0       partie       part
1     histoire    history
2     chercher     search
3    seulement       only
4       police     police
..         ...        ...
96      plutôt     rather
97        aura  will have
98      filles      girls
99       jouer    to play
100     bureau     office

[101 rows x 2 columns]

In [16]:
def randomWordGen():
    
    indexRand = randint(0, len(df))
    
    
    return {"ind": indexRand, "fr": df.iloc[indexRand, 0], "eng": df.iloc[indexRand, 1]}

In [28]:
def checker(ans, boolAns):
    
    global df
    
    if(boolAns):
        df = df.drop(ans["ind"]).reset_index(drop = True)
        
    else:
        pass

In [32]:
checker(randomWordGen(), False)
df

       French    English
0      partie       part
1    histoire    history
2    chercher     search
3   seulement       only
4      police     police
..        ...        ...
94       gros      large
95     plutôt     rather
96       aura  will have
97     filles      girls
98      jouer    to play

[99 rows x 2 columns]

In [3]:
df2 = pd.read_csv("toLearn.csv")
df2

   ind      fr      eng
0    4  police   police
1   88  compte  account
2   88  compte  account
3   72   droit      law

In [24]:
df3 = pd.read_csv("data/french_words.csv")
df3

            fr        eng
0       partie       part
1     histoire    history
2     chercher     search
3    seulement       only
4       police     police
..         ...        ...
96      plutôt     rather
97        aura  will have
98      filles      girls
99       jouer    to play
100     bureau     office

[101 rows x 2 columns]

In [25]:
df3["ind"] = range(0, 101)
df3

            fr        eng  ind
0       partie       part    0
1     histoire    history    1
2     chercher     search    2
3    seulement       only    3
4       police     police    4
..         ...        ...  ...
96      plutôt     rather   96
97        aura  will have   97
98      filles      girls   98
99       jouer    to play   99
100     bureau     office  100

[101 rows x 3 columns]

In [16]:
pd.concat((df2, df3), axis = 0).reset_index(drop = True)

     ind      fr        eng
0      4  police     police
1     88  compte    account
2     88  compte    account
3     72   droit        law
4      0  partie       part
..   ...     ...        ...
100   96  plutôt     rather
101   97    aura  will have
102   98  filles      girls
103   99   jouer    to play
104  100  bureau     office

[105 rows x 3 columns]

In [23]:
for i in df2["ind"]:
    
    try:
        df3 = df3.drop(i, axis = 0)
    
    except:
        pass

df3.reset_index(drop = True)

           fr        eng
0      partie       part
1    histoire    history
2    chercher     search
3   seulement       only
4     pensais    thought
..        ...        ...
93     plutôt     rather
94       aura  will have
95     filles      girls
96      jouer    to play
97     bureau     office

[98 rows x 2 columns]

In [35]:
dfFinal = pd.DataFrame(columns = ["ind", "eng", "fr"])
dfFinal

Empty DataFrame
Columns: [ind, eng, fr]
Index: []

In [36]:
dfFinal["ind"] = df3["ind"]
dfFinal["fr"] = df3["fr"]
dfFinal["eng"] = df3["eng"]
dfFinal

     ind        eng         fr
0      0       part     partie
1      1    history   histoire
2      2     search   chercher
3      3       only  seulement
4      4     police     police
..   ...        ...        ...
96    96     rather     plutôt
97    97  will have       aura
98    98      girls     filles
99    99    to play      jouer
100  100     office     bureau

[101 rows x 3 columns]

In [32]:
dfFinal.to_csv("data/french_words.csv", index = False)

In [34]:
df = dfFinal

indexRand = randint(0, len(df) - 1)
    
wordRand =  {"ind": indexRand, "fr": df.iloc[indexRand, 2], "eng": df.iloc[indexRand, 1]}
wordRand

{'ind': 71, 'fr': 'chambre', 'eng': 'bedroom'}